<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');


/* body{
    font-weight: bold;
    font-family: Montserrat:700;
} */
header{
    background: url(image/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 670px;
}
h1{
    font-family: Montserrat:700;
    font-size: 27px;
}
p{
    font-size: 14px;
}
=======











/*partie about us aurelie*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

html:root{
    --secondary:#c7c7c7;
    --teal: #20c997;

}

h2{
   font-family: Montserrat;
}
p{
    font-family: nunito sans regular;
}

/*Fin partie about us*/

/*partie professional skills*/

/*.col-pro{
    background-color: #f8f9f9;
} */

p-pro{
    font-family: Montserrat;
    
}



>>>>>>> c35dafdb7ac6c2dace0e482112e30a39135daf4f
