










/*partie about us aurelie*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

html:root{
    --secondary:#c7c7c7;
    --teal: #20c997;

}

h2{
   font-family: Montserrat;
}
p{
    font-family: nunito sans regular;
}

/*Fin partie about us*/

/*Partie professional skills*/



p-pro{
    font-family: Montserrat;
    
}

/*Fin partie Skills*/

/*Partie Contact*/

.button{
    background-color: #76c38f;
    border: 2px;
    padding: 10px 20px;
    font-weight: bold;
    outline: none;
}
/*Fin partie Contact*/




